/* @import url("https://fonts.googleapis.com/css?family=Indie+Flower|McLaren|Patrick+Hand|Signika|Yeon+Sung&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Lakki+Reddy|McLaren|Patrick+Hand|Signika|Vollkorn|Yeon+Sung&display=swap");

body,
html {
  background-image: url("background2.jpg");
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100% 125%;
}

main {
  height: 25%;
  margin: center;
  position: center;
}

div {
  height: 100%;
}

h1 {
  text-decoration: none;
  color: white;
  /* font-family: "Indie Flower", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "McLaren", cursive;
  font-family: "Yeon Sung", cursive;
  font-family: "Signika", sans-serif; */
  font-family: "Indie Flower", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "McLaren", cursive;
  font-family: "Yeon Sung", cursive;
  font-family: "Signika", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Lakki Reddy", cursive;
  font-size: 100px;
  text-align: center;
}

.inner {
  /* font-family: "Indie Flower", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "McLaren", cursive;
  font-family: "Yeon Sung", cursive;
  font-family: "Signika", sans-serif; */
  font-family: "Indie Flower", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "McLaren", cursive;
  font-family: "Yeon Sung", cursive;
  font-family: "Signika", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Lakki Reddy", cursive;
  font-size: 25px;
}

.inner-cover,
.cover-heading,
.lead {
  /* font-family: "Indie Flower", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "McLaren", cursive;
  font-family: "Yeon Sung", cursive;
  font-family: "Signika", sans-serif; */
  font-family: "Indie Flower", cursive;
  font-family: "Patrick Hand", cursive;
  font-family: "McLaren", cursive;
  font-family: "Yeon Sung", cursive;
  font-family: "Signika", sans-serif;
  font-family: "Vollkorn", serif;
  font-family: "Lakki Reddy", cursive;
  color: white;
  font-size: 50px;
}

.lead a {
  color: black;
}

footer {
  color: white;
}
